* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

/* HEADER STYLES */

header {
    display: flex;
    flex-direction: column;
    background-color: #120323;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #120323;
}

header h1 {
    color: #97bf04;
}

/* NAV STYLES */

nav {
    width: 95%;
}

nav ul {
    padding: 0;
}

nav ul li {
    background-color: #d9043d;
    border: 2px solid #97bf04;
    margin-bottom: 1rem;
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* MAIN STYLES */

main h2 {
    text-align: center;
}

main figure {
    background-color: #fff;
    padding: 1.5rem;
}

main figure img {
    border-bottom: 10px solid #97bf04;
    width: 100%;
}

/* FOOTER STYLES */

footer {
    background-color: #d9043d;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    font-size: 0.85rem;
}

/* MEDIA QUERIES FOR RESPONSIVE LAYOUTS */

@media screen and (min-width: 768px) {
    /* For devices greater than or equal to 768px in width */

    /* HEADER STYLES */

    header {
        padding: 1rem 0 0;
    }
    
    /* NAV STYLES */

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        background-color: #d9043d;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        border: none;
        margin: 0;
        padding: 1rem 1.5rem;
        background-color: transparent;
    }

    /* PHOTO GALLERY STYLES */

    #gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #gallery-container figure:last-of-type {
        grid-column: span 2;
        margin-top: 1rem;
    }

    /* MAIN STYLES */

    main h2 {
        margin-bottom: 2rem;
    }

    main figure {
        display: grid;
        margin: 0 2rem 2rem;
    }

    main figure img {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {
    /* For devices greater than or equal to 1000px in width */
    
    /* PHOTO GALLERY STYLES */

    #gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #gallery-container figure:last-of-type {
        grid-column: span 2;
        margin-top: 0;
    }

    /* MAIN STYLES */

    main figure {
        display: grid;
        grid-template-rows: auto 1fr;
        margin: 0 2rem 2rem;
    }

    main figure img {
        width: 100%;
        grid-row: 1;
    }

    main figure figcaption {
        grid-row: 2;
        align-self: start;
    }
}